.welcome {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
    color: #D5621A;
    margin: 0;
    padding-top: 30px;

    
}
.welsub {
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
    color: #5F6374;
    padding-bottom: 4rem;
    line-Height: 20px;

}